<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gabriel.app_gabo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuPrincipal" />
        <activity
            android:name=".Comida"
            android:label="@string/.Comida" />
        <activity
            android:name=".Vegetariano"
            android:label="@string/.Vegetariano" />
        <activity
            android:name=".Promociones"
            android:label="@string/.Promociones" />
        <activity
            android:name=".BuscarRestaurant"
            android:label="@string/.BuscarRestaurant" />
        <activity
            android:name=".Favoritos"
            android:label="@string/.Favoritos" />
        <activity
            android:name=".Xpress"
            android:label="Xpress by Factory" />
        <activity
            android:name=".Pollo"
            android:label="Pollos Copacabana" />
        <activity
            android:name=".Registro"
            android:label="Registrarse" />
        <activity
            android:name=".Elis"
            android:label="Pizza Eli&apos;s" />
        <activity
            android:name=".Mrpizza"
            android:label="Mr. Pizza" />
        <activity
            android:name=".Planet"
            android:label="Planet Pizzaa" />
        <activity
            android:name=".Burger"
            android:label="Burger King" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".SignUp" />


        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".PolloMapas"
            android:label="@string/title_activity_poolo_mapas"></activity>
    </application>

</manifest>